@use "@material/theme" with (
  $primary: #5FD4FD,
  $secondary: #B3CAD5,
  $on-primary: #003544,
  $on-secondary: #1E333C,
  $surface: #1e2a2e,
  $background: #191C1D,
  $on-surface: #E1E3E4,
);
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use '@material/select';
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/button/styles" as button-styles;

@include textfield.core-styles;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Roboto", sans-serif;
}
